<div *ngIf="quote">

<h3>Quote Request ID: {{quote.quote_request_id}}</h3>

  <table class="table table-striped" border="1">
    <tr>
      <th>Product name</th>
      <th>Sku</th>
      <th>Quantity</th>
    </tr>
    <tr *ngFor="let product of quote.quote_products">
      <td>{{product.name}}</td>
      <td>{{product.sku}}</td>
      <td><input [(ngModel)]="product.quantity" name="quantity"></td>
    </tr>
  </table>
  <download-quote [quote] = "quote" [quoteRequest] = "quoteRequest"></download-quote>
</div>
