<div *ngIf="quote">

<h3>Quote request for {{quoteRequest.customer_name}}</h3>

  <table class="table table-striped" border="1">
    <tr>
      <th>Product name</th>
      <th>Sku</th>
      <th>Quantity</th>
      <th>Include in quote?</th>
    </tr>
    <tr *ngFor="let product of quote.quote_products">
      <td>{{product.name}}</td>
      <td>{{product.sku}}</td>
      <td><input [(ngModel)]="product.quantity" name="quantity"></td>
      <td><input type="checkbox" [checked]="product.is_included" (change)="product.is_included = !product.is_included"></td>
    </tr>
  </table>
  <download-quote [quote] = "quote" [quoteRequest] = "quoteRequest"></download-quote>
</div>
