<div class="card" *ngIf="isLoading">
  <h4 class="card-header">Loading...</h4>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</div>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Customers &nbsp;<i class = "fa fa-search"></i><input
    (keyup)="searchTerm$.next($event.target.value)">
  </h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th (click) = "orderBy('name')"><i class="{{getClass('name')}}"></i> Name</th>
          <th (click) = "orderBy('email')"><i class="{{getClass('email')}}"></i> Email</th>
          <th>Direct phone</th>
          <th>Mobile phone</th>
          <th>Company</th>
          <th>Source</th>
          <th>Position</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="!customers">
        <tr>
          <td colspan="17">Please search for customers.</td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let cust of customers">
          <td>{{cust.customer.name}}</td>
          <td>{{cust.customer.email}}</td>
          <td>{{cust.customer.directPhone}}</td>
          <td>{{cust.customer.mobilePhone}}</td>
          <td>{{cust.company.name}}</td>
          <td>{{cust.customer.source}}</td>
          <td>{{cust.customer.position}}</td>
         <td><edit-customer [customerRecord]="cust"></edit-customer></td>
            <td><button class="btn btn-sm btn-danger" (click)="deleteCustomer(cust)"><i class="fa fa-trash"></i> Delete</button>
              <p *ngFor="let alert of cust.alerts">
                <ngb-alert [type]="alert.type" (close)="closeAlert(cust, alert)">{{ alert.message }}</ngb-alert>
              </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<edit-customer (onCustomerCreated)="customerCreated($event)" [customerRecord]="newCustomerRecord()"></edit-customer>


