<div class="card" *ngIf="isLoading">
  <h4 class="card-header">Loading...</h4>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</div>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Current customers ({{customers.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Direct phone</th>
          <th>Mobile phone</th>
          <th>Company</th>
          <th>Source</th>
          <th>Position</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="customers.length === 0">
        <tr>
          <td colspan="17">There are no customers in the DB. Add a new Customer below.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let cust of customers">
          <td>{{cust.customer.name}}</td>
          <td>{{cust.customer.email}}</td>
          <td>{{cust.customer.directPhone}}</td>
          <td>{{cust.customer.mobilePhone}}</td>
          <td>{{cust.company.name}}</td>
          <td>{{cust.customer.source}}</td>
          <td>{{cust.customer.position}}</td>
         <td><edit-customer [customer]="cust.customer" [company]="cust.company" [invoiceAddress]="cust.invoiceAddress" [deliveryAddress] = "cust.deliveryAddress"></edit-customer></td>
            <td><button class="btn btn-sm btn-danger" (click)="deleteCustomer(cust)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="17">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editCustomer(cust)" style="display:inline">
              <div class="form-group">
                <input class="form-control" type="text" name="name" [(ngModel)]="customer.customer.name" placeholder="name" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="email" [(ngModel)]="customer.customer.email" placeholder="email" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="directPhone" [(ngModel)]="customer.customer.directPhone" placeholder="directPhone">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="mobile" [(ngModel)]="customer.customer.mobilePhone" placeholder="mobilePhone">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="mobile" [(ngModel)]="customer.customer.source" placeholder="source">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="mobile" [(ngModel)]="customer.customer.position" placeholder="position">
              </div>
              <div class="form-group">
                <input class="form-control" type="checkbox" name="mobile" [(checked)]="customer.customer.isMainContact" placeholder="isMainContact">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="mobile" [(ngModel)]="customer.customer.twitter" placeholder="twitter">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="mobile" [(ngModel)]="customer.customer.facebook" placeholder="facebook">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="mobile" [(ngModel)]="customer.customer.linkedIn" placeholder="linkedIn">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="mobile" [(ngModel)]="customer.customer.skype" placeholder="skype">
              </div>
              <div class="form-group">
                <select class="form-control" name="companyId" [(ngModel)]="customer.customer.companyId" placeholder="companyId">
                  <option *ngFor="let c of companies" [ngValue]="c.id">{{c.name}}</option>
                </select>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new Customer</h4>
  <div class="card-block">
    <form class="form-inline" [formGroup]="addCustomerForm" (ngSubmit)="addCustomer()" style="text-align:center">
      <div class="form-group">
          <input class="form-control" type="text" name="name" formControlName="name" placeholder="name">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="email" formControlName="email" placeholder="email">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="directPhone" formControlName="directPhone" placeholder="directPhone">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="mobilePhone" formControlName="mobilePhone" placeholder="mobilePhone">
      </div>
      <div class="form-group">
        <label>Is main contact?</label>
        <input class="form-control" type="checkbox" name="isMainContact" formControlName="isMainContact" placeholder="isMainContact">
      </div>
      <div class="form-group">
        <select class="form-control" name="companyId" formControlName="companyId" placeholder="companyId">
          <option *ngFor="let c of companies" [ngValue]="c.id">{{c.name}}</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!addCustomerForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>
