<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">

    <div *ngIf="customer.id;else create_customer">
      <h4 class="modal-title">Edit Customer</h4>
    </div>
    <ng-template #create_customer>
      <h4 class="modal-title">Create Customer</h4>
    </ng-template>


    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <form class="form-inline" #form="ngForm" (ngSubmit)="updateAll()" style="display:inline">

      <ngb-tabset [activeId]="activeTabId">

        <ngb-tab id="customer-tab">
          <ng-template ngbTabTitle><b>Customer</b></ng-template>

          <ng-template ngbTabContent>

            <div *ngIf="!customer.id; else updateCustomer" class="alert alert-danger">
              You are creating a new customer. Alternatively, search for an existing customer below.
            </div>

            <ng-template #updateCustomer>
              <div class="alert alert-warning">
                You are updating an exising customer.<br>Search for a different customer below or create
                <button type="button" class="btn btn-sm btn-outline-dark" (click)="createNewCustomer()">New customer
                </button>
              </div>
            </ng-template>

            <div class="card-header"><i class="fa fa-search"></i>
              <input (keyup)="customerSearchTerm$.next($event.target.value)" placeholder="Search customers">
            </div>

            <div *ngIf="customerCount" class="card-block">
              <table class="table table-bordered table-striped">
                <tbody>
                <tr *ngFor="let customer of customers">
                  <td (click)="selectCustomerRecord(customer)">{{customer.customer.name}}</td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="form-group row">
              <label for="name-text-input" class="col-4 col-form-label">Name</label>
              <div class="col-8">
                <input required class="form-control" type="text" name="name" [(ngModel)]="customer.name"
                       placeholder="name" id="name-text-input">
                {{enquiry?.customerName}}
              </div>
            </div>

            <div class="form-group row">
              <label for="email-text-input" class="col-4 col-form-label">Email</label>
              <div class="col-8">
                <input required class="form-control" type="text" name="email" [(ngModel)]="customer.email"
                       placeholder="email" id="email-text-input">
                {{enquiry?.customerEmail}}
              </div>
            </div>

            <div class="form-group row">
              <label for="directPhone-text-input" class="col-4 col-form-label">Direct Phone</label>
              <div class="col-8">
                <input class="form-control" type="text" name="directPhone" [(ngModel)]="customer.directPhone"
                       placeholder="directPhone" id="directPhone-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="mobilePhone-text-input" class="col-4 col-form-label">Mobile</label>
              <div class="col-8">
                <input class="form-control" type="text" name="mobilePhone" [(ngModel)]="customer.mobilePhone"
                       placeholder="mobilePhone" id="mobilePhone-text-input">
                {{enquiry?.customerTelephone}}
              </div>
            </div>

            <div class="form-group row">
              <label for="source-text-input" class="col-4 col-form-label">Source</label>
              <div class="col-8">
                <input class="form-control" type="text" name="source" [(ngModel)]="customer.source" placeholder="source"
                       id="source-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="position-text-input" class="col-4 col-form-label">Position</label>
              <div class="col-8">
                <input class="form-control" type="text" name="position" [(ngModel)]="customer.position"
                       placeholder="position" id="position-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="twitter-text-input" class="col-4 col-form-label">Twitter</label>
              <div class="col-8">
                <input class="form-control" type="text" name="twitter" [(ngModel)]="customer.twitter"
                       placeholder="twitter" id="twitter-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="facebook-text-input" class="col-4 col-form-label">Facebook</label>
              <div class="col-8">
                <input class="form-control" type="text" name="facebook" [(ngModel)]="customer.facebook"
                       placeholder="facebook" id="facebook-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="linkedIn-text-input" class="col-4 col-form-label">LinkedIn</label>
              <div class="col-8">
                <input class="form-control" type="text" name="linkedIn" [(ngModel)]="customer.linkedIn"
                       placeholder="linkedIn" id="linkedIn-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="skype-text-input" class="col-4 col-form-label">Skype</label>
              <div class="col-8">
                <input class="form-control" type="text" name="skype" [(ngModel)]="customer.skype" placeholder="skype"
                       id="skype-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="isMainContact-text-input" class="col-4 col-form-label">Main contact?</label>
              <div class="col-8">
                <input class="form-control" type="checkbox" name="isMainContact" [(checked)]="customer.isMainContact"
                       placeholder="isMainContact" id="isMainContact-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="active-text-input" class="col-4 col-form-label">Active?</label>
              <div class="col-8">
                <input class="form-control" type="checkbox" name="active" [(checked)]="customer.active"
                       placeholder="active" id="active-text-input">
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab id="company-tab">
          <ng-template ngbTabTitle><b>Company</b></ng-template>
          <ng-template ngbTabContent>

            <div *ngIf="!company.id; else updateCompany" class="alert alert-danger">
              You are creating a new company. Alternatively, search for an existing company below.
            </div>

            <ng-template #updateCompany>
              <div class="alert alert-warning">
                You are updating an exising company.<br>Search for a different company below or create
                <button type="button" class="btn btn-sm btn-outline-dark" (click)="createNewCompany()">New company
                </button>
              </div>
            </ng-template>

            <div class="card-header"><i class="fa fa-search"></i> <input
              (keyup)="companySearchTerm$.next($event.target.value)" placeholder="Search companies">
            </div>


            <div *ngIf="companyCount" class="card-block">
              <table class="table table-bordered table-striped">
                <tbody>
                <tr *ngFor="let company of companies">
                  <td (click)="selectCompany(company)">{{company.name}}</td>
                </tr>
                </tbody>
              </table>
            </div>


            <div class="form-group row">
              <label for="company-name-text-input" class="col-4 col-form-label">Name</label>
              <div class="col-8">
                <input class="form-control" type="text" name="name" [(ngModel)]="company.name" placeholder="name"
                       id="company-name-text-input">
                {{enquiry?.company}}
              </div>
            </div>

            <div class="form-group row">
              <label for="phone1-text-input" class="col-4 col-form-label">Phone1</label>
              <div class="col-8">
                <input class="form-control" type="text" name="phone1" [(ngModel)]="company.phone1" placeholder="phone1"
                       id="phone1-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="phone2-text-input" class="col-4 col-form-label">Phone2</label>
              <div class="col-8">
                <input class="form-control" type="text" name="phone2" [(ngModel)]="company.phone2" placeholder="phone2"
                       id="phone2-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="phone3-text-input" class="col-4 col-form-label">Phone3</label>
              <div class="col-8">
                <input class="form-control" type="text" name="phone3" [(ngModel)]="company.phone3" placeholder="phone3"
                       id="phone3-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="website-text-input" class="col-4 col-form-label">Website</label>
              <div class="col-8">
                <input class="form-control" type="text" name="website" [(ngModel)]="company.website"
                       placeholder="website" id="website-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="company-twitter-text-input" class="col-4 col-form-label">Twitter</label>
              <div class="col-8">
                <input class="form-control" type="text" name="twitter" [(ngModel)]="company.twitter"
                       placeholder="twitter" id="company-twitter-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="company-facebook-text-input" class="col-4 col-form-label">Facebook</label>
              <div class="col-8">
                <input class="form-control" type="text" name="facebook" [(ngModel)]="company.facebook"
                       placeholder="facebook" id="company-facebook-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="company-linkedIn-text-input" class="col-4 col-form-label">LinkedIn</label>
              <div class="col-8">
                <input class="form-control" type="text" name="linkedIn" [(ngModel)]="company.linkedIn"
                       placeholder="linkedIn" id="company-linkedIn-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="company-source-text-input" class="col-4 col-form-label">Source</label>
              <div class="col-8">
                <input class="form-control" type="text" name="source" [(ngModel)]="company.source" placeholder="source"
                       id="company-source-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="company-active-text-input" class="col-4 col-form-label">Active?</label>
              <div class="col-8">
                <input class="form-control" type="checkbox" name="active" [(checked)]="company.active"
                       placeholder="active" id="company-active-text-input">
              </div>
            </div>

          </ng-template>
        </ngb-tab>


        <ngb-tab id="invoice-address-tab">
          <ng-template ngbTabTitle><b>Invoice address</b></ng-template>
          <ng-template ngbTabContent>

            <div class="form-group row">
              <label for="invoice-address-name-text-input" class="col-4 col-form-label">Name</label>
              <div class="col-8">
                <input class="form-control" type="text" name="name" [(ngModel)]="invoiceAddress.name" placeholder="name"
                       id="invoice-address-name-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="invoice-address-fao-text-input" class="col-4 col-form-label">Fao</label>
              <div class="col-8">
                <input class="form-control" type="text" name="fao" [(ngModel)]="invoiceAddress.fao" placeholder="fao"
                       id="invoice-address-fao-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="invoice-address-line1-text-input" class="col-4 col-form-label">Line1</label>
              <div class="col-8">
                <input class="form-control" type="text" name="line1" [(ngModel)]="invoiceAddress.line1"
                       placeholder="line1" id="invoice-address-line1-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="invoice-address-line2-text-input" class="col-4 col-form-label">Line2</label>
              <div class="col-8">
                <input class="form-control" type="text" name="line2" [(ngModel)]="invoiceAddress.line2"
                       placeholder="line2" id="invoice-address-line2-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="invoice-address-line3-text-input" class="col-4 col-form-label">Line3</label>
              <div class="col-8">
                <input class="form-control" type="text" name="line3" [(ngModel)]="invoiceAddress.line3"
                       placeholder="line3" id="invoice-address-line3-text-input">
              </div>
            </div>


            <div class="form-group row">
              <label for="invoice-address-townCity-text-input" class="col-4 col-form-label">TownCity</label>
              <div class="col-8">
                <input class="form-control" type="text" name="townCity" [(ngModel)]="invoiceAddress.townCity"
                       placeholder="townCity" id="invoice-address-townCity-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="invoice-address-county-text-input" class="col-4 col-form-label">County</label>
              <div class="col-8">
                <input class="form-control" type="text" name="county" [(ngModel)]="invoiceAddress.county"
                       placeholder="county" id="invoice-address-county-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="invoice-address-postcode-text-input" class="col-4 col-form-label">Postcode</label>
              <div class="col-8">
                <input class="form-control" type="text" name="postcode" [(ngModel)]="invoiceAddress.postcode"
                       placeholder="postcode" id="invoice-address-postcode-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="invoice-address-country-text-input" class="col-4 col-form-label">Country</label>
              <div class="col-8">
                <input class="form-control" type="text" name="country" [(ngModel)]="invoiceAddress.country"
                       placeholder="country" id="invoice-address-country-text-input">
              </div>
            </div>


          </ng-template>
        </ngb-tab>


        <ngb-tab id="delivery-address-tab">
          <ng-template ngbTabTitle><b>Delivery address</b></ng-template>
          <ng-template ngbTabContent>

            <div class="form-group row">
              <label for="delivery-address-name-text-input" class="col-4 col-form-label">Name</label>
              <div class="col-8">
                <input class="form-control" type="text" name="name" [(ngModel)]="deliveryAddress.name"
                       placeholder="name" id="delivery-address-name-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="delivery-address-fao-text-input" class="col-4 col-form-label">Fao</label>
              <div class="col-8">
                <input class="form-control" type="text" name="fao" [(ngModel)]="deliveryAddress.fao" placeholder="fao"
                       id="delivery-address-fao-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="delivery-address-line1-text-input" class="col-4 col-form-label">Line1</label>
              <div class="col-8">
                <input class="form-control" type="text" name="line1" [(ngModel)]="deliveryAddress.line1"
                       placeholder="line1" id="delivery-address-line1-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="delivery-address-line2-text-input" class="col-4 col-form-label">Line2</label>
              <div class="col-8">
                <input class="form-control" type="text" name="line2" [(ngModel)]="deliveryAddress.line2"
                       placeholder="line2" id="delivery-address-line2-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="delivery-address-line3-text-input" class="col-4 col-form-label">Line3</label>
              <div class="col-8">
                <input class="form-control" type="text" name="line3" [(ngModel)]="deliveryAddress.line3"
                       placeholder="line3" id="delivery-address-line3-text-input">
              </div>
            </div>


            <div class="form-group row">
              <label for="delivery-address-townCity-text-input" class="col-4 col-form-label">TownCity</label>
              <div class="col-8">
                <input class="form-control" type="text" name="townCity" [(ngModel)]="deliveryAddress.townCity"
                       placeholder="townCity" id="delivery-address-townCity-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="delivery-address-county-text-input" class="col-4 col-form-label">County</label>
              <div class="col-8">
                <input class="form-control" type="text" name="county" [(ngModel)]="deliveryAddress.county"
                       placeholder="county" id="delivery-address-county-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="delivery-address-postcode-text-input" class="col-4 col-form-label">Postcode</label>
              <div class="col-8">
                <input class="form-control" type="text" name="postcode" [(ngModel)]="deliveryAddress.postcode"
                       placeholder="postcode" id="delivery-address-postcode-text-input">
              </div>
            </div>

            <div class="form-group row">
              <label for="delivery-address-country-text-input" class="col-4 col-form-label">Country</label>
              <div class="col-8">
                <input class="form-control" type="text" name="country" [(ngModel)]="deliveryAddress.country"
                       placeholder="country" id="delivery-address-country-text-input">
              </div>
            </div>


          </ng-template>
        </ngb-tab>


      </ngb-tabset>


      <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-outline-dark btn-warning" [disabled]="!form.form.valid">
          <span *ngIf="customer.id;else createCustomerButton">Update customer</span>
          <ng-template #createCustomerButton>Create customer</ng-template>
        </button>
        <button type="button" class="btn btn-sm btn-outline-dark" (click)="c('Close click')">Close</button>
      </div>

    </form>
  </div>
</ng-template>

<div *ngIf="customerRecord.customer.id;else create_customer_button">
  <button type="button" class="btn btn-sm btn-primary"
          (click)="open(content)"><i class="fa fa-edit"></i> Edit
  </button>
</div>
<ng-template #create_customer_button>
  <button type="button" class="btn btn-sm btn-primary"
          (click)="open(content)"><i class="fa fa-edit"></i> New
  </button>
</ng-template>

