<div class="card-block">

    <table class="table">
      <tbody>

      <tr>
        <th scope="row">Title</th>
        <td><input type="text" name="name" [(ngModel)]="quote.title" placeholder="title"></td>
      </tr>
      <!--<tr>-->
        <!--<th scope="row">Required</th>-->
        <!--<td> <ng-datepicker [(ngModel)]="quote.dateRequired"></ng-datepicker></td>-->
      <!--</tr>-->
      </tbody>
    </table>
    <div>
      <button type="submit" class="btn btn-sm btn-warning" (click) = "updateQuote(quote)">Update quote</button>
      <button type="button" (click) = "dismiss()" class="btn btn-sm btn-warning">Close</button>
    </div>
</div>
