<ng-container *ngIf="!isEditing">
  <div class="card">


    <h3 class="card-header">Quotes</h3>
    <h4 class="card-body"><i class = "fa fa-search"></i> <input
      (keyup)="searchTerm$.next($event.target.value)">
    </h4>

    <div *ngIf="alert">
      <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
    </div>

    <div *ngIf="count !== undefined">{{count}} quote<span *ngIf = "count != 1">s</span> found
      <ngb-pagination *ngIf = "count > 5" [collectionSize]="count" [pageSize]="5" [(page)]="page" [maxSize]="5" [rotate]="true"></ngb-pagination>
    </div>


    <div class="card-block">

      <table class="table table-responsive table-striped table-hover">
        <thead class="thead-default">
        <tr>
          <th>Title</th>
          <th>Quote date</th>
          <th>Required</th>
          <th>Company</th>
          <th>Customer</th>
          <th>Email</th>
          <th>Direct phone</th>
          <th>Mobile</th>
          <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let quoteRecord of quoteRecords">
          <td>{{quoteRecord.quote.title}}</td>
          <td>{{quoteRecord.quote.createdDate | date: 'EE dd/MM/yyyy'}}</td>
          <td>{{quoteRecord.quote.requiredDate | date: 'EE dd/MM/yyyy'}}</td>
          <td>{{getCompanyName(quoteRecord)}}</td>
          <td>{{getCustomerName(quoteRecord)}}</td>
          <td>{{getCustomerEmail(quoteRecord)}}</td>
          <td>{{getCustomerDirectPhone(quoteRecord)}}</td>
          <td>{{getCustomerMobilePhone(quoteRecord)}}</td>
          <td>
            <button type="button" class="btn btn-sm btn-warning"
                    (click)="displaySelectedQuote($event, quoteRecord)"><i class="fa fa-binoculars"></i> View
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
<selected-quote></selected-quote>

