<ng-container *ngIf="!isEditing && quoteRecord">
  <div class="card">

    <div class="card-block">

      <div *ngIf="alert">
        <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
      </div>

      <h4 class = "card-header">Quote
      </h4>

      <table class="table table-responsive table-bordered">
        <thead class="thead-default">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Created</th>
          <th>Required</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{quoteRecord.quote.id}}</td>
          <td>{{quoteRecord.quote.title}}</td>
          <td>{{quoteRecord.quote.createdDate | date: 'EE dd/MM/yyyy'}}</td>
          <td>{{quoteRecord.quote.requiredDate | date: 'EE dd/MM/yyyy'}}</td>
          <td><edit-quote [quote]="quoteRecord.quote"></edit-quote></td>
        </tr>
        </tbody>
      </table>


      <h4 class = "card-header">Customer
      </h4>
      <table class="table table-responsive table-bordered">
        <thead class="thead-default">
        <tr>
          <th>Customer</th>
          <th>Company</th>
          <th>Email</th>
          <th>Direct</th>
          <th>Mobile</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{quoteRecord.customerRecord.customer.name}}</td>
          <td>{{quoteRecord.customerRecord.company.name}}</td>
          <td>{{quoteRecord.customerRecord.customer.email}}</td>
          <td>{{quoteRecord.customerRecord.customer.directPhone}}</td>
          <td>{{quoteRecord.customerRecord.customer.mobilePhone}}</td>
          <td><edit-customer (onCustomerCreated)="customerUpserted($event)" (onCustomerUpdated)="customerUpserted($event)" (onAlertCreated)="alertCreated($event)"  [customerRecord]="quoteRecord.customerRecord" [enquiry] = "quoteRecord.enquiry" [activeTabId] = "'customer-tab'"></edit-customer></td>
        </tr>
        </tbody>
      </table>

      <h4 class = "card-header">Addresses</h4>

      <table class="table table-responsive table-bordered">
        <thead class="thead-default">
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>FAO</th>
          <th>Line1</th>
          <th>Line2</th>
          <th>Line3</th>
          <th>City</th>
          <th>County</th>
          <th>Postcode</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Invoice</td>
          <td>{{quoteRecord.customerRecord.invoiceAddress?.name}}</td>
          <td>{{quoteRecord.customerRecord.invoiceAddress?.fao}}</td>
          <td>{{quoteRecord.customerRecord.invoiceAddress?.line1}}</td>
          <td>{{quoteRecord.customerRecord.invoiceAddress?.line2}}</td>
          <td>{{quoteRecord.customerRecord.invoiceAddress?.line3}}</td>
          <td>{{quoteRecord.customerRecord.invoiceAddress?.townCity}}</td>
          <td>{{quoteRecord.customerRecord.invoiceAddress?.county}}</td>
          <td>{{quoteRecord.customerRecord.invoiceAddress?.postcode}}</td>
          <td><edit-customer (onCustomerCreated)="customerUpserted($event)" (onCustomerUpdated)="customerUpserted($event)" (onAlertCreated)="alertCreated($event)"  [customerRecord]="quoteRecord.customerRecord" [enquiry] = "quoteRecord.enquiry" [activeTabId] = "'invoice-address-tab'"></edit-customer></td>
        </tr>
        <tr>
          <td>Delivery</td>
          <td>{{quoteRecord.customerRecord.deliveryAddress?.name}}</td>
          <td>{{quoteRecord.customerRecord.deliveryAddress?.fao}}</td>
          <td>{{quoteRecord.customerRecord.deliveryAddress?.line1}}</td>
          <td>{{quoteRecord.customerRecord.deliveryAddress?.line2}}</td>
          <td>{{quoteRecord.customerRecord.deliveryAddress?.line3}}</td>
          <td>{{quoteRecord.customerRecord.deliveryAddress?.townCity}}</td>
          <td>{{quoteRecord.customerRecord.deliveryAddress?.county}}</td>
          <td>{{quoteRecord.customerRecord.deliveryAddress?.postcode}}</td>
          <td><edit-customer (onCustomerCreated)="customerUpserted($event)" (onCustomerUpdated)="customerUpserted($event)" (onAlertCreated)="alertCreated($event)"  [customerRecord]="quoteRecord.customerRecord" [enquiry] = "quoteRecord.enquiry" [activeTabId] = "'delivery-address-tab'"></edit-customer></td>
        </tr>
        </tbody>
      </table>


      <h4 class = "card-header">Line items</h4>
      <edit-quote-item (onQuoteItemCreated)="quoteItemCreated($event)" (onAlertCreated)="alertCreated($event)"></edit-quote-item>

      <table class="table table-responsive table-bordered">
        <thead class="thead-default">
        <tr>
          <th>Product</th>
          <th>Image</th>
          <th>Quantity</th>
          <th>Colour</th>
          <th>Price includes</th>
          <th>Cost</th>
          <th>Markup</th>
          <th>VAT</th>
          <th>Sell</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let lineItem of quoteItems">
          <ng-container *ngIf="quoteItemProducts.get(lineItem.productId) as product">
            <td>{{product.productname}}</td>
            <td><img src="{{getThumb(product)}}"/></td>
            <td>{{lineItem.quantity}}</td>
            <td>{{lineItem.colour}}</td>
            <td>{{lineItem.priceIncludes}}</td>
            <td>{{lineItem.cost}}</td>
            <td>{{lineItem.markup}}</td>
            <td>{{lineItem.vat}}</td>
            <td>{{lineItem.sell}}</td>
            <td><edit-quote-item (onQuoteItemUpdated)="quoteItemUpdated($event)" (onAlertCreated)="alertCreated($event)"  [quoteItem]="lineItem" [product] = "product"></edit-quote-item></td>
          </ng-container>
          <td><button (click)="deleteQuoteItem(lineItem)">Delete</button></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</ng-container>


