<ng-container *ngIf="!isEditing && quoteRecord">
  <div class="card">
    <h4 class="card-header">Quotes</h4>
    <div class="card-block">

      <table class="table table-responsive table-striped table-hover">
        <thead class="thead-default">
        <tr>
          <th>Title</th>
          <th>Quote date</th>
          <th>Required</th>
          <th>Requester</th>
          <th>Requester email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{quoteRecord.quote.title}}</td>
          <td>{{quoteRecord.quote.createdDate | date: 'EE dd/MM/yyyy'}}</td>
          <td>{{quoteRecord.quote.dateRequired | date: 'EE dd/MM/yyyy'}}</td>
          <td>{{quoteRecord.quote.customerName}}</td>
          <td>{{quoteRecord.quote.customerEmail}}</td>
        </tr>
        </tbody>
      </table>

      <table class="table table-responsive table-striped table-hover">
        <thead class="thead-default">
        <tr>
          <th>Company</th>
          <th>Customer</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Position</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{quoteRecord.company.name}}</td>
          <td>{{quoteRecord.customer.name}}</td>
          <td>{{quoteRecord.customer.email}}</td>
          <td>{{quoteRecord.customer.mobilePhone}}</td>
          <td>{{quoteRecord.customer.position}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
