<div class="container-fluid">

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">

      <a routerLink="/users" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-user"></i> Users</a>

      <a routerLink="/companies" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-group"></i> Companies</a>

      <a routerLink="/customers" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-user-secret"></i> Customers</a>

      <a routerLink="/enquiries" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-edit"></i> Enquiries
      </a>

      <a routerLink="/quotes" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-shopping-basket"></i> Quotes
      </a>

      <!--<a routerLink="/product" class="nav-item nav-link" routerLinkActive="active">-->
        <!--<i class="fa fa-search"></i> Search-->
      <!--</a>-->
      <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
      <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>

  </nav>

  <router-outlet></router-outlet>

</div>
