<div class="container-fluid">

  <nav class="navbar navbar-dark bg-primary">
    <div class="nav navbar-nav">
      <a routerLink="/companies" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-user"></i> Companies
      </a>
      <a routerLink="/people" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-user"></i> People
      </a>
      <a routerLink="/xsells" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-user"></i> X-sell
      </a>
      <a routerLink="/quote-requests" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-edit"></i> Quote requests
      </a>
      <a routerLink="/quotes" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-shopping-basket"></i> Quotes
      </a>
      <a routerLink="/product" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-search"></i> Search
      </a>
      <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
      <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
