<div class="container">

  <nav class="navbar navbar-dark bg-primary">
    <div class="nav navbar-nav">
      <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-user"></i> Reps
      </a>
      <a routerLink="/product" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-search"></i> Search
      </a>
      <a routerLink="/quote-requests" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-shopping-basket"></i> Quote requests
      </a>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
