<div *ngIf="quote" class="card">
  <h4 class="card-header">Invoice</h4>
  <div class="card-block">

    <table class="table table-bordered table-striped table-responsive table-hover">
      <thead class="thead-default">
      <tr>
        <th>Product name</th>
        <th>Sku</th>
        <th>Quantity</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of quote.quote_products">
        <td>{{product.name}}</td>
        <td>{{product.sku}}</td>
        <td>{{product.quantity}}</td>
      </tr>
      </tbody>
      <ng-container *ngIf="quote.quote_status === 2">
      <tr><td colspan="3">  <download-quote [quote]="quote" [enquiry]="enquiry" [documentType]="'invoice'"
                                            [buttonName]="'Create Invoice'"></download-quote>
        <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button></td></tr>
      </ng-container>
      <ng-container *ngIf="quote.quote_status != 2">
        <tr><td colspan="3">
          <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Close</button></td></tr>
      </ng-container>
    </table>
  </div>

</div>
