<div *ngIf="quote" class="card">
  <h4 class="card-header">
    Order confirmation
    <button type = "button" class="btn btn-primary" (click)="openSearchModal()"><i class="fa fa-search"></i> Products</button>
  </h4>
  <div class="card-block">

    <form class="form-inline" #form="ngForm" (ngSubmit)="editRep(quoteRequest)" style="display:inline">
      <table class="table table-bordered table-striped">
        <thead class="thead-default">
        <tr>
          <th>Customer</th>
          <th>Email</th>
          <th>Tel</th>
          <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input class="form-control" type="text" name="name" [(ngModel)]="quoteRequest.customer_name"
                     placeholder="Name" required></td>
          <td><input class="form-control" type="text" name="email" [(ngModel)]="quoteRequest.customer_email"
                     placeholder="Email"
                     required></td>
          <td><input class="form-control" type="text" name="telephone" [(ngModel)]="quoteRequest.customer_telephone"
                     placeholder="Telephone"
                     required></td>
          <td><textarea class="form-control" type="text" name="address" [(ngModel)]="quoteRequest.customer_address"
                     placeholder="Address"
                        required></textarea></td>
        </tr>
        </tbody>
      </table>
    </form>


    <table class="table table-bordered table-striped table-responsive table-hover">
      <thead class="thead-default">
      <tr>
        <th>Product name</th>
        <th>Sku</th>
        <th>Quantity</th>
        <th>Markup</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of quote.quote_products">
        <td>{{product.name}}</td>
        <td>{{product.sku}}</td>
        <td><input [(ngModel)]="product.quantity" name="quantity"></td>
        <td><input [(ngModel)]="product.markup" name="markup"></td>
        <td><button type = "button" class="btn btn-sm btn-danger" (click)="remove(product)"><i class="fa fa-times"></i> Remove</button></td>
      </tr>
      </tbody>
      <ng-container *ngIf="quote.quote_status === 1">
      <tr><td colspan="5">
        <download-quote [quote]="quote" [quoteRequest]="quoteRequest" [documentType]="'order_confirmation'"
                                            [buttonName]="'Confirm order'"></download-quote>
        <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button></td></tr>
      </ng-container>
      <ng-container *ngIf="quote.quote_status != 1">
        <tr><td colspan="5">
          <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Close</button></td></tr>
      </ng-container>
    </table>
  </div>

</div>
