.table td, .table th {
  text-align: center;
  width: 25%;
}

.btn-space {
  margin: 3px;
}

.big-checkbox {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 3px;
  margin-top: 15px;
}
