<div class="card-block">

  <div class="row">
    <div class="col-md-6">
      <form (submit)="getProduct()">
        Product ID<br>
        <input name="productId" [(ngModel)]="productId">
        <br>
        Quantity<br>
        <input [(ngModel)]="quantity" name="quantity" placeholder="Quantity" class="input-sm">
        <button type="submit" class="btn btn-sm btn-warning">Get product</button>
      </form>

      <div *ngIf="product">
        <form (submit)="search()">

          <div class="form-group">
            Categories
            <select [(ngModel)]="category" class="form-control" name="Category" placeholder="Category">
              <option *ngFor="let category of product.Categories" [attr.value]="category.Name">{{category.Name}}
              </option>
            </select>
          </div>

          <div class="form-group">
            Colors
            <select [(ngModel)]="color" class="form-control" name="Colour" placeholder="Colour">
              <option *ngFor="let color of product.Attributes.Colors.Values" [attr.value]="color.Name">{{color.Name}}
              </option>
            </select>
          </div>

          <div>
            <button type="submit" class="btn btn-sm btn-warning">Search for matching products</button>
          </div>

        </form>

<br>

        <table class="table table-bordered table-responsive table-striped table-hover">
          <tr>
            <td>Name</td>
            <td>{{product.Name}}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>{{quantity}} @ ${{getUnitPrice().Price}} = ${{getTotalPrice()}}</td>
          </tr>
          <tr>
            <td>Supplier</td>
            <td>{{product.Supplier.Name}}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{product.Description}}</td>
          </tr>
          <tr>
            <td>Prices</td>
            <td><span *ngFor="let price of product.Prices">{{price.Quantity.From}} to {{price.Quantity.To}}: ${{price.Price}}<br></span>
            </td>
          </tr>
          <tr>
            <td>Images</td>
            <td><span *ngFor="let image of product.Images"><img src="https://api.asicentral.com/v1/{{image}}"></span>
            </td>
          </tr>
        </table>

      </div>
    </div>


    <div *ngIf="searchResults" class="col-md-6">
      Page {{searchResults.Page}} of {{getTotalPages()}}<br>
      <button *ngIf="searchResults.Links.Previous" type = "button" class="btn btn-sm btn-warning" (click)="searchWithQs(searchResults.Links.Previous)"><i class="fa fa-step-backward"></i> Previous</button>
      <button *ngIf="searchResults.Links.Next" type = "button" class="btn btn-sm btn-warning" (click)="searchWithQs(searchResults.Links.Next)">Next <i class="fa fa-step-forward"></i></button>

      <table class="table table-bordered table-responsive table-striped table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>Product name</th>
          <th>Image</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of searchResults.Results" (click)="openProductModal(product.Id)">
          <td>{{product.Id}}</td>
          <td>{{product.Name}}</td>
          <td><img src="https://api.asicentral.com/v1/{{product.ImageUrl}}"></td>
          <td>${{product.Price.Price}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
