<div class="card" *ngIf="isLoading">
  <h4 class="card-header">Loading...</h4>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</div>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Current users ({{users.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Direct phone</th>
          <th>Mobile phone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="users.length === 0">
        <tr>
          <td colspan="5">There are no users in the DB. Add a new user below.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let user of users">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.directPhone}}</td>
          <td>{{user.mobilePhone}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(user)"><i class="fa fa-pencil"></i> Edit</button> <button class="btn btn-sm btn-danger" (click)="deleteUser(user)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="5">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editUser(user)" style="display:inline">
              <div class="form-group">
                <input class="form-control" type="text" name="name" [(ngModel)]="user.name" placeholder="Name" required>
              </div>
              <div class="form-group">
                  <input class="form-control" type="text" name="email" [(ngModel)]="user.email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="directPhone" [(ngModel)]="user.directPhone" placeholder="DirectPhone" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="mobilePhone" [(ngModel)]="user.mobilePhone" placeholder="MobilePhone" required>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new user</h4>
  <div class="card-block">
    <form class="form-inline" [formGroup]="addUserForm" (ngSubmit)="addUser()" style="text-align:center">
      <div class="form-group fa fa-asterisk">
          <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name">
      </div>
      <div class="form-group fa fa-asterisk">
        <input class="form-control" type="text" name="email" formControlName="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="directPhone" formControlName="directPhone" placeholder="Direct Phone">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="mobilePhone" formControlName="mobilePhone" placeholder="Mobile Phone">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!addUserForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>
