<div class="card-block">
  <div class="row">
    <div class="col-md-3">

      <form (submit)="getProducts()">

        <div>
          Order quantity
          <input [(ngModel)]="quantity" name="quantity" placeholder="Quantity" class = "input-sm">
        </div>

        <br>

        <div class="radio">
          Number of colours<br>
          <label class="radio-inline"><input type="radio" [(ngModel)]="numColours" name="numColours" value="1">1</label>
          <label class="radio-inline"><input type="radio" [(ngModel)]="numColours" name="numColours" value="2">2</label>
          <label class="radio-inline"><input type="radio" [(ngModel)]="numColours" name="numColours" value="3">3</label>
          <label class="radio-inline"><input type="radio" [(ngModel)]="numColours" name="numColours" value="4">4</label>
        </div>

        <br>

        <div class="radio">
          Minimum lead time<br>
          <label class="radio-inline"><input type="radio" [(ngModel)]="leadTime" name="leadTime" value="4">4</label>
          <label class="radio-inline"><input type="radio" [(ngModel)]="leadTime" name="leadTime" value="10">10</label>
          <label class="radio-inline"><input type="radio" [(ngModel)]="leadTime" name="leadTime" value="20">20</label>
        </div>

        <br>

        <div class="form-group">
          Ink colour
          <select [(ngModel)]="inkColour" class="form-control" name="Ink Colour" placeholder="Ink colour">
            <option *ngFor="let inkColour of inkColours" [attr.value]="inkColour">{{inkColour}}</option>
          </select>
        </div>

        <div class="form-group">
          Pen colour
          <select [(ngModel)]="colour" class="form-control" name="Colour" placeholder="Colour">
            <option *ngFor="let colour of colours" [attr.value]="colour">{{colour}}</option>
          </select>
        </div>


        <div>
          <button type="submit" class="btn btn-sm btn-warning">Find Products</button>
          <button type="button" (click) = "dismiss()" class="btn btn-sm btn-warning">Close</button>
        </div>

      </form>
    </div>


    <div class="col-md-9">
      <table class="table table-bordered table-responsive table-striped table-hover">
        <thead>
        <tr>
          <th>Image</th>
          <th>Product name</th>
          <th>Price</th>
          <th>Stock level</th>
          <th>Add</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td><img width = "60" src = "{{product.image_url}}"/></td>
          <td>{{product.name}}</td>
          <td>{{product.priceInputs[priceKey]}}</td>
          <td>{{product.stock_level}}</td>
          <td> <button type="button" (click) = "add(product)" class="btn btn-sm btn-warning">Add</button></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
