<div class="card">
  <h4 class="card-header">Quote requests</h4>
  <div class="card-block">
    <table class="table table-bordered table-responsive table-striped table-hover">
      <thead class="thead-default">
        <tr>
          <th>Date</th>
          <th>Product ID</th>
          <th>Rep</th>
          <th>Customer</th>
          <th>Company</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let quoteRequest of quoteRequests">
          <ng-container *ngIf="!isEditing || selectedQuoteRequest == quoteRequest">
          <td>{{quoteRequest.date_added}}</td>
          <td>{{quoteRequest.product_id}}</td>
          <td>{{quoteRequest.rep_email}}</td>
          <td>{{quoteRequest.customer_name}}</td>
          <td>{{quoteRequest.customer_company}}</td>
          <td>{{quoteRequest.quantity}}</td>
          <td>
            <button type = "button" class="btn btn-sm btn-warning" (click)="displaySelectedQuoteRequest($event, quoteRequest)"><i class="fa fa-pencil"></i> Quote</button>
          </td>
          </ng-container>
        </tr>
        </tbody>
      </table>
  </div>
</div>
  <selected-quote-request></selected-quote-request>

