<div class="card">
  <h4 class="card-header">Quote requests</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Date</th>
          <th>Product ID</th>
          <th>Rep</th>
          <th>Customer</th>
          <th>Company</th>
          <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let quoteRequest of quoteRequests" (click)="displaySelectedQuoteRequest($event, quoteRequest)">
          <td>{{quoteRequest.date_added}}</td>
          <td>{{quoteRequest.product_id}}</td>
          <td>{{quoteRequest.rep_email}}</td>
          <td>{{quoteRequest.customer_name}}</td>
          <td>{{quoteRequest.customer_company}}</td>
          <td>{{quoteRequest.quantity}}</td>
        </tr>
        </tbody>
      </table>
  </div>
</div>
  <selected-quote-request></selected-quote-request>

