<div *ngIf="quote" class="card">
  <h4 class="card-header"><button type = "button" class="btn btn-primary" (click)="openSearchModal()"><i class="fa fa-search"></i> Products</button>
  </h4>


  <div class="card-block">
    <table class="table table-responsive table-striped table-hover">
      <thead class="thead-default">
      <tr>
        <th>Product name</th>
        <th>Sku</th>
        <th>Quantity</th>
        <th>Markup</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of quote.quote_products">
        <td>{{product.name}}</td>
        <td>{{product.sku}}</td>
        <td><input [(ngModel)]="product.quantity" name="quantity"></td>
        <td><input [(ngModel)]="product.markup" name="markup"></td>
        <td><button type = "button" class="btn btn-sm btn-danger" (click)="remove(product)"><i class="fa fa-times"></i> Remove</button></td>
      </tr>
      <td colspan="5">
        <ng-container *ngIf="quote.quote_status === 0">
        <download-quote [quote]="quote" [quoteRequest]="quoteRequest"></download-quote>
        <button type = "button" class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
        </ng-container>
        <ng-container *ngIf="quote.quote_status != 0">
          <button type = "button" class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Close</button>
        </ng-container>
      </td>
      </tbody>
    </table>
  </div>
</div>
