<div class="container">
  <h3>Quote requests</h3>
      <table class="table table-striped" border="1">
        <thead>
        <tr>
          <th>Date</th>
          <th>Quote ID</th>
          <th>Product ID</th>
          <th>Rep ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Company</th>
          <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let quote of quotes" (click)="displaySelectedQuote($event, quote)">
          <td>{{quote.date_added}}</td>
          <td>{{quote.id}}</td>
          <td>{{quote.product_id}}</td>
          <td>{{quote.rep_id}}</td>
          <td>{{quote.customer_name}}</td>
          <td>{{quote.customer_email}}</td>
          <td>{{quote.customer_company}}</td>
          <td>{{quote.quantity}}</td>
        </tr>
        </tbody>
      </table>

  <selected-quote></selected-quote>
</div>
